
html {
    min-height: 100%;
    max-width: 100%;} 
body {
    min-height: 100%;
    max-width: 100%;
    background: linear-gradient(320deg,rgba(51, 180, 180, 0.849),#A66AE2 );
    margin: 0 auto;
}

@media ( min-width: 300px) and ( max-width: 800px){
    #cardcampanha{
        margin-top: 20px;
        width: 100%;
    }
    #criar{
        margin-top: 20px;
        width: 100%;
    }
}

/*BARRA DE NAVEGAÇÃO */

 /* BARRA DE NAVEGAÇÃO */


/* CHECKS*/
#cardchecks{
    background: #f5eba0;
    border-left-color: black;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color:  black;
    
}
/* CHECKS*/

/* CARD */
#cardcampanha{
    
    border-left-color: black;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color:  black;

}

#Saiba{
    background: #4411bd8f;
    border-left-color: black;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color:  black;
}

/* CARD*/

/* CRIAR CAMPANHA*/
#criar {
    background: #f3e99f;
    border-left-color: black;
    border-top-color: black;
    border-right-color: black;
    border-bottom-color:  black;
}

#criarcam{
    background: #4411bd8f;
    border-left-color: rgb(0, 26, 65);
    border-top-color: rgb(0, 26, 65);
    border-right-color: rgb(0, 26, 65);
    border-bottom-color:  rgb(0, 26, 65);
}
/* CRIAR CAMPANHA*/


